In [1]:
import pandas as pd

Apertura de un archivo JSON para verificar estructura

In [2]:
data_reviews=pd.read_json(r"C:\Users\Usuario\Desktop\PROYECTO_FINAL\REVIEW-ESTADOS\reviews-estados\review-Alabama\1.json", lines=True)

In [4]:
data_reviews.shape

(150000, 8)

In [3]:
data_reviews.head(2)

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.140438e+20,Kanisha Mixon,1597168272670,5,Very Personable staff! Beautiful and clean env...,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
1,1.160090e+20,Brandie Hodges,1609899039594,5,Best clothing intown,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf