In [1]:
import pandas as pd

Apertura de un archivo JSON para verificar estructura

In [3]:
data_reviews=pd.read_json(r"C:\Users\Usuario\Desktop\GitHub\DataSets\DataLake\REVIEW-ESTADOS\reviews-estados\review-Alabama\1.json", lines=True)

In [4]:
data_reviews.shape

(150000, 8)

In [3]:
data_reviews.head(2)

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.140438e+20,Kanisha Mixon,1597168272670,5,Very Personable staff! Beautiful and clean env...,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
1,1.160090e+20,Brandie Hodges,1609899039594,5,Best clothing intown,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf

In [5]:
data_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  150000 non-null  float64
 1   name     150000 non-null  object
 2   time     150000 non-null  int64
 3   rating   150000 non-null  int64
 4   text     82943 non-null   object
 5   pics     3087 non-null    object
 6   resp     20893 non-null   object
 7   gmap_id  150000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 9.2+ MB

In [9]:
data_reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147686 entries, 0 to 149999
Data columns (total 6 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  147686 non-null  object
 1   name     147686 non-null  object
 2   time     147686 non-null  datetime64[ns]
 3   rating   147686 non-null  int64
 4   text     147686 non-null  object
 5   gmap_id  147686 non-null  object
dtypes: datetime64[ns](1), int64(1), object(4)
memory usage: 7.9+ MB